.pic1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.msg1{
    text-align: center;
}
.list1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}